{% extends 'base.html.twig' %}
{% block title %}
	Log in!
{% endblock %}
{% block body %}
<div class="pageContent">
    <div class="Title">
        {{ include('includes/titre.html.twig') }}
    </div>
    <div class="submit">
        <form method="post">
                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}
                {% if app.user %}
                    <div class="mb-3">
                        Inscrit en tant que: 
                        <strong>{{ app.user.username }}</strong> ,					
                        <a href="{{ path('app_logout') }}">
                            Logout
                        </a>
                    </div>
                {% endif %}
                <h1 class="h3 mb-3 font-weight-normal text-white">
                    Login
                </h1>
                <label for="inputPseudo">
                    Pseudo
                </label>
                <input type="text" value="{{ last_username }}" name="pseudo" id="inputPseudo" class="form-control" required autofocus>
                <label for="inputPassword">
                    Mot de passe
                </label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me">
                        Se souvenir de moi
                    </label>
                </div>
                <button class="btn btn-lg btn-primary" type="submit">
                    Valider
                </button>
            <div class="col md-6">
                    <form class="form-inline">
                      <div class="form-group mb-2 d-flex flex-column mt-5">
                        <h1 class="h3 mb-3 font-weight-normal text-white">Pas encore inscrit</h1>
                        <div class="inscription mt-4">
                        <button type="button" class="btn btn-success ml-1" ><a href="/potos_league/public/register">C'est parti !</button>
                        </div>
                      </div>
                    </form>
            </div>  
        </form>
    </div>
</div>


{% endblock %}
