{% extends 'base.html.twig'  %}
{% block title %}Inscription{% endblock %}
{% block body %}
<div class="pageContent">
    <div class="Title">
        {{ include('includes/titre.html.twig') }}
    </div>
    <div class="register">
        <h1 class="h3 mb-3 mt-4 font-weight-normal text-white">
            Inscription
        </h1>
        <div class="form">
            {{ form_start(registrationForm) }}        
            {{ form_row(registrationForm.pseudo) }}
            {{ form_row(registrationForm.plainPassword) }}
            {{ form_row(registrationForm.agreeTerms) }}
            <button class="btn btn-lg btn-primary mt-5" type="submit">S'inscrire</button>
            {{ form_end(registrationForm) }}
        </div>
           
    </div>
</div>
    
       
{% endblock %}
