{% extends 'base.html.twig' %}
{% block body %}
		<aside>
			<div class="aside">
				<div class="container_notif">
					<div class="rectangle">
						<div class="notification-text">
							<i class="material-icons">info</i>
							<span>&nbsp;&nbsp;test notification.</span>
						</div>
					</div>
				</div>
				<!-------------carousel-------------------------->
				<div class="carousel">
						<div class="content-slider">
							<h3>Le coach de la semaine</h3>

							<div class="slider">
								<div class="mask">
								<ul>
									<li class="anim1">
									<div class="quote">-Brian-</div>
									<div class="source"></div>
									</li>
									<li class="anim2">
									<div class="quote">The Playaz</div>
									<div class="source"></div>
									</li>
									<li class="anim3">
									<div class="quote">125 pts</div>
									<div class="source"></div>
									</li>
									<li class="anim4">
									<div class="quote">Wilson</div>
									<div class="source"></div>
									</li>
									<li class="anim5">
									<div class="quote">37pts</div>
									<div class="source"></div>
									</li>
								</ul>
								</div>
							</div>
						</div>
						
				</div>
					{% if app.user %}             
                        <a class="p-2 " href="{{ path('main') }}">Mon compte</a>
                        <a class="p-2 " href="{{ path('app_logout') }}">Déconnexion</a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="p-2 admin" href="{{ path('easyadmin') }}">Admin</a>
                        	{% else %}
                            {% endif %}
                            {% else %}   
                                <a class="p-2 " href="{{ path('app_login') }}">Connexion</a>
                                <a class="p-2 " href="{{ path('app_register') }}">Inscription</a>
                            {% endif %}
			
				<!------------fin carousel------------------------>
			</div>
		</aside>
		<div id="bloc_page">
			<header>
				
				<div class="container_navigation">
				{{ include('includes/titre.html.twig') }}
				</div>

					<div id="separateur">
						<img src="/potos_league/assets/images/separateur.png" alt="separateur"/>
					</div>
			</header>
				

			<section>
				<article>
					<div class="hottopic">
						<div class="hottopic_image">
							<img src="/potos_league/assets/images/hottopic2.png" alt="hottopic_images" title="hot_topic">
						</div>
						<div class="defileParent">
							<span class="defile"
								data-text=" Félicitations à notre champion 2018 Christophe et ses Faucons du sud !!!">
							</span>
						</div>
						<div class="hottopic_image">
							<img src="/potos_league/assets/images/hottopic2.png" alt="hottopic_images" title="hot_topic">
						</div>
					</div>

					
					<div class="titre2">
						<h2>Score journée</h2>
							<div id="score_journee">
								
								<p>
									Nissa Dolphins 		  : 115.95<br/>
									South Falcons  		  : <a>116.95</a>
								</p>
								<br/>
								<p>
									The Playaz     		  : 88.20<br/>
									Les Caribous   		  : <a>90.95</a>
								</p>
								<br/>
								<p>
									Elsass eagles  : <a>119.25</a><br/>
									Opexteam     		  : 99.25
								</p>
								<br/>
								<p>
									Les Dahus de la Yaute : <a>125.15</a><br/>
									Les Bronco's Mosellans: 83.10
								</p>
								
							</div>
					</div>
					<div class="titre2">
						<h2>Classement</h2>
							<div id="classement">
								
									<ol>
										<p>Playoffs</p>	
										<li><div class="southfalcons">
									   	South Falcons</div></li>
									   	<li><div class="nissadolphins">	
										Nissa Dolphins</div></li>
									   	<li><div class="lescaribous">
										Les Caribous</div></li>
										<li><div class="theplayaz">
										The Playaz</div></li>
										<p>Playoffs de la lose</p>
										<li><div class="lesdahuts">
										Les Dahuts de la Yaute</div></li>
										<li><div class="lesbroncos">
										Les Bronco's Mosellans</div></li>
										<li><div class="opexteam">
										Opexteam</div></li>
										<li><div class="elsasseagles">
										Elsass Eagles</div></li>
										<p>Saison terminée</p>
										<li><div class="gitansdenancy">
										Gitans de Nancy</div></li>
										<li><div class="theblackcats">
										The Black Cats</div></li>
										<li><div class="lessurfeurs">
										Les Surfeurs</div></li>
										<li><div class="galettesaucisse">
										Galette Saucisse</div></li>			
									</ol>
							</div>
					</div>
					<div class="titre2">
						<h2>C'est chaud !</h2>
							<div id="chaud">

								<div id="video">
									<iframe width="250" height="250" src="https://www.youtube.com/embed/usw9WiShXEs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
								<div id="spoil">
									<img class="spoillogo" src="/potos_league/assets/images/logospoil2.png"/>
									<h3><a href="spoil.html">Ca spoile</a></h3>
								</div>
								<div id="chambre">
									<img class="trashlogo" src="/potos_league/assets/images/logotrash.png"/>
									<h3><a href="cachambre.html">Ca chambre</a></h3>
								</div>
								<div id="divers">
									<img class="diverslogo" src="/potos_league/assets/images/logodivers.png"/>
									<h3>Divers</h3>
								</div>
								<div id="hottopic">
									<img src="/potos_league/assets/images/pats.jpg" alt="pats" title="pats"/>
								</div>							
							</div>
					</div>
					<article>
					<div class="titre2">
					
						<div id="DivClignotante" style="visibility:visible;"><h2>Programme TV</h2></div>
						<p><br />
							<script type="text/javascript"> 
							var clignotement = function(){ 
							if (document.getElementById('DivClignotante').style.visibility=='visible'){ 
								document.getElementById('DivClignotante').style.visibility='hidden'; 
							} 
							else{ 
							document.getElementById('DivClignotante').style.visibility='visible'; 
							} 
							}; 
							// mise en place de l appel de la fonction toutes les 0.8 secondes 
							// Pour arrêter le clignotement : clearInterval(periode); 
							periode = setInterval(clignotement, 800); 
							</script></p>
						<div class="tv">
							<img src="/potos_league/assets/images/tv/tvweek-5.jpg" alt="tv" title="tv"/>
						</div>
					</div>

					
				</article>
				</article>
				<aside>
					<div class="titre2">
						<h2>News</h2>
							<div id="news">
									<p>
										15:45 Patriots : Josh Gordon se retire des terrains ! 
									15:22 Snobé pour le Pro Bowl, Darius Leonard est très énervé 
									13:00 Course au MVP – Semaine 15 : Patrick Mahomes s’envole 
									10:36 Noël : comment convertir votre famille à la NFL en 5 étapes très simples 
									08:25 Le petit dej’ : Aaron Rodgers continue, Melvin Gordon de retour 
									07:25 Panthers : Cam Newton ne jouera pas dimanche, sa saison semble terminée</p> 
									<p>19/12 Playoffs : les scenarios de qualification de la Semaine 16 
									19/12 Power Ranking NFL 2018 – Semaine 16 : Indianapolis dégaine son Colt ! 
									19/12 Joueurs de la Semaine 15 : Dalvin Cook pour relancer Minnesota, Mike Williams pour l’exploit 
									19/12 Raiders : Jon Gruden à fond sur Derek Carr 
									</p><br/>
								
								
									<p>
									Le jeudi c’est MVP ! Imperturbable Patrick Mahomes. À désormais deux matchs du clap de fin de la saison régulière, le jeune lanceur des Chiefs n’a jamais semblé aussi proche du titre de MVP. Avec un Drew Brees en perte de vitesse, le temps joue pour Mahomes. Pour compléter le podium, l’inamovible Todd Gurley confirme sa présence. Philip Rivers auteur d’une nouvelle performance remarquée face aux Chiefs grimpe d’un rang devant Aaron Donald.
									1. Patrick Mahomes (-) Quarterback – Kansas City Chiefs (11-3)
									4543 yards à 66,8% – 45 touchdowns, 11 interceptions – 55 courses, 238 yards, 2 touchdowns, 2 fumbles perdus – 114,8 d’évaluation
									Malgré une défaite inattendue encaissée face à de plus en plus surprenants Chargers, Patrick Mahomes s’est montré exact au rendez vous. Toujours en course pour effacer la barre des 5000 yards, le jeune lanceur des Chiefs semble avoir la main de plus en plus proche du trophée de MVP. Reste à conclure lors des deux dernières semaines.
									2. Drew Brees (-) Quarterback – New Orleans Saints (12-2)
									3666 yards à 74,9% – 31 touchdowns, 5 interceptions – 30 courses, 23 yards, 4 touchdowns, 1 fumble perdu – 116,8 d’évaluation
									L’état de forme statistique déclinant de Drew Brees continue de se confirmer. Même si il continue d’afficher un pourcentage de passes complétées exceptionnel, ses autres chiffres sont en berne. Il vient d’effectuer sa quatrième interception en autant de matchs et son évaluation ne dépasse pas les 100 pour la troisième semaine de suite. Un trou d’air au pire moment pour continuer d’espérer un titre de MVP.
									3. Todd Gurley (-) Running Back – Los Angeles Rams (11-3)
									256 courses, 1251 yards, 17 touchdowns – 59 réceptions, 580 yards, 4 touchdowns – 1 fumble perdu
									Si il y en a un qui n’a rien à se reprocher après la défaite des Rams face aux Eagles, c’est bien Todd Gurley. Impérial face aux champions en titre, Gurley a amassé 48 yards au sol mais surtout deux nouveaux touchdowns. Déjà entré en end zone 21 fois cette saison et amassé plus de 1800 yards au total, Gurley réalise une saison d’exception.
									4. Philip Rivers (+1) Quarterback – Los Angeles Chargers (10-3)
									3951 yards à 69,4% – 31 touchdowns, 8 interceptions – 16 courses, 6 yards, 1 fumble perdu – 112,4 d’évaluation
									Auteurs du gros coup du week end avec ce spectaculaire retournement de situation en fin de match face aux Chiefs, les Chargers de Philip Rivers sont en pleine forme. Malgré ses deux interceptions, Rivers a encore une fois été le guide des siens avec un match à plus de 300 yards et deux touchdowns. Incontestablement l’un des hommes forts de la saison.
									5. Aaron Donald (-1) Defensive Tackle – Los Angeles Rams (11-3)
									48 plaquages, 16,5 sacks, 4 fumbles forcés – 1 passe défendue
									Peu en vue statistiquement depuis deux semaines, Aaron Donald aura peut être manqué aura peut être manqué aux siens pour battre les Eagles. Mais peut-on vraiment lui en vouloir ? Totalement irréprochable dans le jeu, le défenseur vedette des Rams a été omniprésent tout au long de la saison. Et celui qui totalise pour le moment le plus de sacks cette saison pourrait aller encore plus haut.
									</p>
									
								
							</div>	
					</div>
				</aside>
			</section>

			<footer>
				<div id="liens">
						<h2>Liens</h2>
							<div id="imagenav">
								<div id="imagefooter"><img src="/potos_league/assets/images/oilers7.jpg" alt="oilers" title="oilers">
								
									<div id="images_liens">
										<div class="facebook">
											<a href="https://www.facebook.com/"><img src="/potos_league/assets/images/facebook.png" alt="facebook" title="facebook"/>
											</a></div>
										<div class="nfl">
											<a href="https://www.nfl.com/"><img src="/potos_league/assets/images/nfl.png" alt="NFL" title="NFL"/></a></div>
										<div class="fffa">
											<a href="http://www.fffa.org/"><img src="/potos_league/assets/images/fffa.png" alt="fffa"title="fffa"/></a></div>
										<div class="bein">
											<a href="https://www.beinsports.com/france/programmes"><img src="/potos_league/assets/images/bein.png" alt="bein" title="Bein Sport"/></a></div>
										<div class="youtube">
											<a href="https://www.youtube.com/"><img src="/potos_league/assets/images/youtube.png" alt="youtube" title="Youtube"/></a></div>
										<div class="mail">
											<a href="mailto:sqr81@free.fr"></a><img src="/potos_league/assets/images/enveloppe.png" alt="mail" title="mail"/></a></div>
									</div>
								</div>
							</div>
				</div>
			</footer>

		</div>
		/*test*/
		<?php
			$monfichier = fopen("compteur.txt","r+");

			$pages_vues = fgets($monfichier);
			$pages_vues += 1;
			fseek($monfichier,0);
			fputs($monfichier, $pages_vues);
			fclose($monfichier);
			echo "<p>cette page a ete vue".$pages_vues. " fois</p>";
		?>
	</body>



</html>
{% endblock %}